@import '../../../../theme/variables';


ion-button{
  --background: #EF5350 !important;
  --color: #FFFFFF !important;
}

// .modal-container{
//   height: 100%;
// }

ion-item{
  margin-top: 10px;
  --background: #FFFFFF !important;
  color: $fourtiary;
}
