@import '../../../../theme/variables';

:host{
  width: 100%;

  ion-card{
    min-height: 10em;

    &:before{
      content: "";
      position: absolute;
      width: 5em;
      height: 5em;
      left: 2%;
      top: 62%;
      border-radius: 50%;
      background: rgba(255,255, 255, 0.2);
    }

    &:after{
      content: "";
      position: absolute;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      left: 2em;
      top: 75%;
      background: rgba(255,255, 255, 0.2);
    }

    ion-avatar {
      width: 7em;
      height: 7em;
      margin: 0 auto;
      margin-top: 10px;
    }
  }

}

